@use 'vars';

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: vars.$karla;
  font-size: vars.$font-size;
  background-color: vars.$light-green;
  padding: 1rem;
  width: 100%;
  display: flex;
}

.container {
  margin: auto;
  flex-basis: 30rem;
  background-color: vars.$white;
  padding: 1rem;
  border-radius: 10px;
}

.heading {
  margin-bottom: 1rem;
  font-weight: vars.$darker-font;
}

.label {
  display: block;
  margin-bottom: 0.4rem;

  > span {
    color: vars.$darker-green;
  }
}

.input {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.4rem;
  border: 1px solid vars.$medium-grey;
  border-radius: 5px;
}

.input-control {
  margin: 1.2rem 0;
}

.query-container {
  & div.input {
    margin: 0.75rem 0;
    display: flex;
    align-items: center;

    input {
      margin: 0 0.5rem;
    }

  }

  
}

.queries > div {
  &.selected {
    background-color: vars.$light-green;
  }
  &:active {
    outline: vars.$light-green solid 3px; 
  }
}

textarea {
  resize: none;
  border: 1px solid vars.$medium-grey;
  border-radius: 5px;
  height: 12rem;
  width: 100%;
}

.agreement {
  display: flex;

  & > input {
    margin-right: 0.75rem;
  }
}

.submit-btn {
  display: block;
  background-color: vars.$darker-green;
  color: vars.$white;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: vars.$darker-grey;
  }
}

@media screen and (min-width: vars.$breakPoint-mobile) {
  div.names, div.queries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;    
  }

  textarea {
    height: 5rem;
  }
}

input[type="radio"], input[type="checkbox"] {
  accent-color: vars.$darker-green
}

input[type="text"] {
  &:hover, &:focus {
    outline: vars.$light-green solid 1.5px;
  }
}

input:focus {

}

div#toast {
  display: none;
  position: fixed;
  right: 1rem;
  background-color: vars.$darker-grey;
  color: vars.$white;
  padding: 1rem;
  border-radius: 5px;

  > div:first-child {
    display: flex;
    > img {
      margin-right: 0.5rem;
    }
  }
  > p {
    font-size: 0.75rem;
  }
}

div#toast.show-toast {
  display: block;
}

.error {
  display: none;
  color: vars.$red;

  &.show-error-message {
    display:block
  }
}